stars {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #ffe400;
}

.numbers {
    word-spacing: 27px;

}

h2 {
    border: 5px solid;

}

p {
    border: 1px dotted;

}

h3 {
    margin: 0;
    padding: 10px;
    border: 4px outset;
    border-width: 5%;

}

pa {
    font-size: 200px;

}