.title {
    padding: 50px;
}

.whats-hot {

  border: 1px solid black;
  max-width: 500px;            
  margin: auto;           
  padding: 15px;              
  border-radius: 12px;      
  text-align: center;          
  min-height: 400px;
  margin-top: -10px;
}

.last-played {
    border: 1px solid black;
    max-width: 250px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    
}