.title {
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.whats-hot {
    font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid black;
  max-width: 500px;            
  margin: auto;           
  padding: 15px;              
  border-radius: 12px;      
  text-align: center;          
  min-height: 400px;
  margin-top: -10px;
}

.last-played {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px;
    border: 1px solid black;
    max-width: 250px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    
}

.logo {
    border: 2px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    display: flex;                /* 🔸 enable flexbox */
    justify-content: center;      /* 🔸 center horizontally */
    align-items: center;          /* 🔸 center vertically */
    text-align: center;
    background-color: aqua;
}

.login {
    border: 1px solid black;
    width: 300px;  
    margin:  auto;            
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    
}

.host-container {
    width: 420px;
    margin: 50px auto;
    padding: 20px;
    border: 3px solid #cfcfcf;
    border-radius: 12px;
    text-align: center;
    background: white;
}

/* Host block */
.host-box {
    width: 80%;
    margin: 20px auto;
    padding: 18px 0;
    border: 3px solid #5d5d5d;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
}

/* Game button */
.game-btn {
    width: 55%;
    margin: 20px auto;
    padding: 12px 0;
    font-size: 20px;
    border-radius: 40px;
    border: 2px solid #5d5d5d;
    background: white;
}

/* Settings panel */
.settings-box {
    width: 80%;
    height: 240px;
    margin: 35px auto;
    padding-top: 110px;
    font-size: 22px;
    border: 3px solid #5d5d5d;
    border-radius: 4px;
}

/* Launch */
.launch-btn {
    width: 65%;
    margin: 30px auto;
    padding: 20px 0;
    font-size: 26px;
    font-weight: 600;
    border-radius: 40px;
    border: 2px solid #5d5d5d;
    background: white;
}

.inbox-container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
}

.inbox-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.message-box {
    border: 2px solid #5d5d5d;
    border-radius: 8px;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    background: #fafafa;
}


