<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- CSS Style sheet-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <!-- Bootsrap link-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
        crossorigin="anonymous">
        </script>


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>

    </head>

    <body>
        <!-- This is the navigation bar at the top-->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">PlatformName</span>
                <div class="ms-auto d-flex gap-4">
                    <a href="/home" class="nav-link text-black">Home</a>
                    <a href="/inbox" class="nav-link text-black">Inbox</a>
                    <a href="/host" class="nav-link text-black">Host</a>
                    <a href="/parties" class="nav-link text-black">Join</a>
                    <a href="/settings" class="nav-link text-back">Settings</a>
                </div>
            </div>

        </nav>
       
       <!-- This is the main title --> 
        <div class="title">
            <h1 style="text-align: center;">
                Home
            </h1>
        </div>

        <!-- This is the "What's Hot" section-->
        <div class="whats-hot">
            <h2>What's Hot</h2>
            <p>Games</p>
            <!-- Whats Hot list goes here -->
            <div id="whatsHotList"></div>
            <div class="row g-3" id="whatsHotGrid"></div>
            <script src="{{ url_for('static', filename='js/whats_hot.js') }}"></script>
        </div>
       
        <!-- This is the "Last-Played" section-->
        <div class="last-played">
            <h3>Last Played</h3>

        </div>

        <script src="{{ url_for('static', filename='js/whats_hot.js') }}"></script>
    </body>
</html>